$white-color: #fff;
$black-color: #000;
$nav-color: #999999;
$nav-background-color: #f5f5f5;
$raleway-font: 'Raleway', sans-serif;

.side-nav-container {
    position: fixed;
    float: left;
    background: $nav-background-color;
    padding: 0 70px;
    
    .side-nav {
        height: 100vh;
        margin: 0;
        li {
            width: 200px;
            list-style-type: none;
            padding: 16px 0;
            border-bottom: 1px solid #e2e2e2;
            &:first-child {
                padding: 0 0 16px;
            }
            a {
                display: block;
                font-family: $raleway-font;
                font-size: 13px;
                font-weight: bold;
                color: $nav-color;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                &:hover {
                    color: $black-color;
                }
            }
        }
    }

    .page-logo {
        padding: 77px 0 67px 0;
        img {
            width: 170px;
            height: 51px;
        }
    }
}